/* Enquire CSS */

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.box{
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
    font-size: large;
    overflow: hidden;
    display: inline-block;
    
}

.service1_photo{
    height: 100vh;
	background-image: url("../image/conseling.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.service2_photo{
    height: 100vh;
	background-image: url("../image/kid_draw.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.service3_photo{
    height: 100vh;
	background-image: url("../image/family_beach.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.service4_photo{
    height: 100vh;
	background-image: url("../image/children_fun.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.service_word{
    background-color: #821134;
    vertical-align: center;
}

.statistic {
    height: 200px;
    background-color: #e23a6e;
    margin: 20px;
    color: white;
    padding: 20px;
}
