.navbar{
    background-color: #E98074;
}
.nav {
    text-transform: uppercase
}

.about_font {
    font-family: 'PT Serif Caption', serif;
}

.about{
    background-color: #EAE7DC;
    padding: 0px;
    margin: 0px;
}

.about_bg {
    position: relative;
    background-image: url("superchild.jpg");
    padding: 0%;
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.statistic {
    height: 150px;
    border: 1px solid black;
    background-color: #FFB6C1;
    margin: 20px;
}